<div class = 'row'>
      <div class = 'col-1'>
        <%= image_tag post.user.get_profile_image(50, 50), class: 'rounded-circle border' %>
      </div>
      <div class = 'col-4'>
        <%= post.user.name %><br>
        <%= post.created_at.strftime('%Y月%m日%d日') %>
      </div>

      <div class = 'col-7'>
        <% post.prefecture_relations.each do |pref| %>
          <span><%= pref.prefecture.name %></span>
        <% end %>
      </div>
    </div>