<div class = 'row mb-5'>
  <div class = 'col-3'>
    <%= f.date_field :date %>
  </div>
  
  <div class = 'col-9'>
    <%= f.fields_for :spots do |spot| %>
      <%= render 'spot_fields', f: spot %>
    <% end %>

    <div class = 'links'>
      <%= link_to_add_association '＋スポット', f, :spots, class: 'mx-auto rounded-pill btn btn-primary' %>
    </div>
  </div>
</div>