<div class = 'row'>
  <div class = ' col-12 col-md-7 mx-auto'>
    <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |message| %>
        <li class = 'text-danger'><%=  message %></li>
      <% end %>
    <% end %>
    <div class = 'card border-dark'>
      <h2 class = 'card-header border-dark text-center'>旅行記録編集</h2>
      <%= render 'form', post:  @post%>
    </div>
  </div>
</div>