<div class = 'row'>
  <div class = ' col-12 col-md-7 mx-auto'>
  <div class = 'card'>
    <h1 class = 'card-header text-center'>旅行記録詳細</h1>
    <%= render 'form', post:  @post%>
  </div>
  </div>
</div>