<div class = 'row'>
  <div class = 'col-11 mx-auto'>
    <div class = 'row'>



      <div class = 'col-12 col-md-3 mx-auto'>
        <%= render 'public/searches/search_form', post: @post %>
        <%= render 'public/searches/search_prefecture', prefectures: @prefectures %>
      </div>



      <div class = 'col-12 col-md-8 mx-auto'>
        <%= render 'public/posts/index', posts: @posts %>
      </div>




    </div>
  </div>
</div>