<h4>投稿検索</h4>
<div class = 'row'>
  <div class = 'col-12 border py-3 search-form'>

    <%= form_with url: search_path, method: :get do |f| %>
    <div class = 'form-group'>

      <%= f.select :range, options_for_select([['タイトル'], ['スポット']], @range), class: 'form-control' %>
      <%= f.text_field :word, value: @word, class: 'form-control mt-3' %>
    </div>

      <%= f.submit "検索", class: "btn  btn-block btn-primary rounded-pill" %>
    <% end %>
  </div>
</div>
