<div class = 'search-form pt-2 pb-2 border'>
   <%= form_with url: search_path, method: :get do |f| %>

     <div class = 'row mt-3'>
       <div class = 'col-12 text-center'>
          <%= f.text_field :word, value: @word %>
       </div>

     </div>
     <div class = 'row mt-3'>
       <div class = 'col-12 text-center'>
          <%= f.select :range, options_for_select([['タイトル'], ['スポット']], @range), class: 'form-control' %>
       </div>

     </div>
     <div class = 'row'>
       <div class = 'col-1 mt-2' style = 'margin-left: 115px;'>
         <%= f.submit "検索", class: "btn btn-primary rounded-pill" %>
       </div>

     </div>
    <% end %>
</div>



