<div class = 'row'>
  <div class = 'col-11 mx-auto'>
    <div class = 'row'>
      <div class = 'col-12 col-md-3 mx-auto '>
        <%= render 'public/searches/search_form', post: @post %>
        <%= render 'public/searches/search_prefecture', prefectures: @prefectures %>
      </div>
      <div class = 'col-12 col-md-8 ml-5 mx-auto'>
        <% if @posts.count == 0 %>
          <h4 class = 'mt-5 text-center'>「<%= @word %>」に一致する投稿は見つかりませんでした。</h4>
        <% else %>
          <%= render 'public/posts/index', posts: @posts %>
        <% end %>
      </div>
    </div>
  </div>
</div>