<div class = 'row'>
  <div class = 'col-11 mx-auto'>
    <div class = 'row'>
      <div class = 'col-12 offset-3'>
        <h4 style= 'margin-left: 35px;'>検索結果: <%= @word %></h4>
      </div>
    </div>  
  </div>
</div>

<div class = 'row'>
  <div class = 'col-11 mx-auto'>
    <div class = 'row'>
      <div class = 'col-3'>
        <%= render 'public/searches/search_form', post: @post %>
      </div>
      
      <div class = 'col-8 ml-5'>
        <% if @posts.count == 0 %>
          <h4 class = 'text-center'>「<%= @word %>」に一致する投稿は見つかりませんでした。</h4>
        <% else %>
          <%= render 'public/posts/index', posts: @posts %>
        <% end %>
      </div>
    </div>
  </div>
</div>