




<div class = 'row'>
  <div class = 'col-8 col-md-3 mx-auto'>
    <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-block btn-pilled btn-success rounded-pill' %>

  </div>
</div>

<div class = 'row mt-3'>
  <div class = 'col-8 col-md-3 mx-auto'>
    <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-block btn-info rounded-pill' %>

  </div>
</div>

<div class = 'row mt-3'>
  <div class = 'col-8 col-md-3 mx-auto'>
    <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-block btn-outline-secondary rounded-pill' %>

  </div>
</div>