.btn-secondary {
    color: #fff;
    background-color: #7f7f7f;
    border-color: #7f7f7f;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #6d6d6d;
    border-color: #656565;
}

.btn-outline-secondary {
    color: #7f7f7f;
    background-color: transparent;
    border-color: #7f7f7f;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #7f7f7f;
    border-color: #7f7f7f;
}



.btn-success {
    color: #fff;
    background-color: #448a55;
    border-color: #448a55;
}

.btn-success:hover {
    color: #fff;
    background-color: #387246;
    border-color: #33673f;
}

.btn-outline-success {
    color: #448a55;
    background-color: transparent;
    border-color: #448a55;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #448a55;
    border-color: #448a55;
}



.btn-info {
    color: #fff;
    background-color: #1f90aa;
    border-color: #1f90aa;
}

.btn-info:hover {
    color: #fff;
    background-color: #19768b;
    border-color: #176b7e;
}

.btn-outline-info {
    color: #1f90aa;
    background-color: transparent;
    border-color: #1f90aa;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #1f90aa;
    border-color: #1f90aa;
}


.btn-danger {
    color: #fff;
    background-color: #c30909;
    border-color: #c30909;
}

.btn-danger:hover {
    color: #fff;
    background-color: #a00707;
    border-color: #920606;
}

.btn-outline-danger {
    color: #c30909;
    background-color: transparent;
    border-color: #c30909;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #c30909;
    border-color: #c30909;
}