.navbar-brand {
  font-family: 'Agentur', cursive;
  font-size: 35px;
}

.site-name {
  font-family: 'Agentur', cursive;
}


.nav-item {
  margin-left: 15px;
}

header, body, footer {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

header {
  background-color: #fff;
}
main {
  background-image: image-url('background-image.jpg');
  background-size:cover;
  background-position: center;
}


header {
  posision: fixed;
}

footer {
  background-color: #7f7f7f;
}



.post-block, .post-show, .search-form, .search-prefecture, .user-info, table {
  background-color: #fff;
}


a {
  color: #2d16a3;
}

.page-item.active .page-link {
    background-color: #ccc;
}


.pagination > li > a {
  border: none;
  color: #696969;
}

.pagination > .active > a {
  border-radius: 20px;
}

.pagination > li > a:hover {
  border-radius: 20px;
}

.pagination {
  justify-content: center;
}


input[type="checkbox"] {
  accent-color: #77797f;
}

.field_with_errors {
  background-color: #fcc;
  padding: 1px;
}


.select-prefectures > .field_with_errors {
  display: contents;

}

.field > .field_with_errors {
  display: contents;
}

.admin-table-wrap {
  overflow-x: scroll;
}
.admin-table {
  white-space: nowrap;
}